.main {
    display: flex;
    padding: 0;
    cursor: pointer;
    border: none;
}

.main:focus {
    outline: 2px solid $auxAccent;
}

.secondary {
    background-color: transparent;
    color: $mainColor;
}

.primary {
    align-items: center;
    justify-content: center;
    padding: 1em 1.2em;
    background-color: $mainBackS;
    color: $auxAccent;
    font-weight: bold;

    & svg {
        margin-right: 8px;
    }
}

.primary:hover {
    background-color: $mainBackT;
}