.main {
    width: 144px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $mainAccent;
    border-radius: 8px;
    color: $auxColor;
    font-weight: bold;
}