.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 70vh;
}

.title {
    margin-bottom: 32px;
}

.loaderContainer {
    margin: auto;
}

.loader {
    font-size: 80px;
    color: $mainAccent;
    margin-bottom: 24px;
}