.main {
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;

  &:before {
    content: "";
    z-index: -1;
    background-color: $mainBackS;
    width: 100vw;
    height: 64px;
    position: absolute;
    left: 0;
  }

  $margin: 32px;
  & > :first-child {
    margin-right: $margin;
  }
  & > :last-child {
    margin-left: $margin;
  }

  @media (max-width: $mobile) {
    $margin: 16px;
    & > :first-child {
      margin-right: $margin;
    }
    & > :last-child {
      margin-left: $margin;
    }
  }
}

.search {
  flex: 1;
}

.signButton {
  width: auto;
}
