.main {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  z-index: 10;
  padding: 0 24px;

  &:before {
    content: "";
    z-index: -1;
    background-color: $mainBackS;
    width: 100vw;
    height: 64px;
    position: absolute;
    left: 0;
  }

  & > * + * {
    margin-left: 32px;
  }
}

.search {
  flex: 1;
}

.signButton {
  margin-left: 128px;
  width: auto;
}

.loaderContainer {
  display: flex;
  align-items: center;
}

.loader {
  margin-right: 16px;
}