.main {
    background-color: $auxBack;
    border-radius: 4px;
    padding: 6px 16px;
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;

    & .searchButton {
        width: 24px;
    }

    @media (max-width: $mobile) {
        padding: 6px 8px;
    }
}

.search {
    color: $auxColorS;
    flex: 1;
    border: none;
    outline: 0;
    width: inherit;
}

.search::placeholder {
    color: $auxColorT;
}