// S for Secondary
// T for tertiary

$mainColor: #FFFFFF;
$mainColorS: #C4C4C4;
$mainColorT: #757575;

$mainBack: #010101;
$mainBackS: #111111; 
$mainBackT: #1b1b1b; 

$auxColor: #010101;
$auxColorS: #111111;
$auxColorT: #757575;

$overlay: rgba($mainBack, .8);
$overlayS: rgba($mainBack, .4);

$auxBack: #FFFFFF;

$mainAccent: #F5C518;
$auxAccent: #5799EF;