// S for Secondary
// T for tertiary

$mainColor: #FFFFFF;
$mainColorS: #757575;
$mainColorT: #C4C4C4;

$mainBack: #010101;
$mainBackS: #111111; 

$auxBack: #FFFFFF;

$mainAccent: #F5C518;
$auxAccent: #5799EF;