.main {
    padding: 48px 48px 32px 48px;
    background-color: $mainBackS;
    margin: auto;
    border-radius: 0 8px 8px 0;
    border-left: 1px solid $errorColor;
}

.content {
    margin-top: 24px;
    color: $mainColorS;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 32px;
}

.deleteButton {
    margin-left: 24px;
    color: $errorColor;
}