.main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $mainColor;
    font-weight: bold;
}

.text {
    margin-left: 8px;
}

.counter {
    margin-left: 8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $mainAccent;
    color: $auxColor;
    font-size: 14px;
    font-weight: bold;
}