.main {
    width: 100%;
    margin-top: 80px;
}

.userInfo {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    max-width: 256px;

    & > * + * {
        margin-top: 16px;
    }
}

.deleteAccountButton {
    margin-top: 40px;
    color: $severeColor;
}