.main {
    width: 100%;
    margin-top: 80px;
}

.userInfo {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    max-width: 256px;

    & > * + * {
        margin-top: 24px;
    }
    & :last-child {
        margin-top: 32px;
    }
}

.deleteAccountButton {
    margin-top: 64px;
    color: $errorColor;
}