.main {
  width: 530px;
  display: flex;
  flex-direction: column;
  padding: 80px 64px;
  background-color: $mainBackS;
  border-radius: 8px;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;

  & > * + * {
    margin-top: 24px;
  }
}

.submitButton {
  margin-top: 32px;
  border-left: 1px solid $auxAccent;
}

.methodChangeButton {
  margin-top: 48px;
}

.error {
  font-size: 14px;
  color: $errorColor;
  margin-top: 12px;
}
