.main {
  display: flex;
  flex-direction: column;
  padding: 48px 64px;
  background-color: $mainBackS;
  border-radius: 8px;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;

  & > * + * {
    margin-top: 24px;
  }
}

.submitButton {
  border-left: 1px solid $auxAccent;
}

.methodChangeButton {
  margin-top: 48px;
}
